<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Table.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <table class="fancytable">
        <tr class="headerrow">
            <td>Area</td>
            <td>Controller</td>
            <td>Action</td>            
        </tr>
        <tr class="datarowodd">
            <td>
                @Model.Area
            </td>
            <td>
                @Model.Controller
            </td>
            <td>
                @Model.Action
            </td>           
    </table>
</body>
</html>




