<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>連結目錄</title>
</head>
<body>
    <div>
        controller = Default
    </div>
    <div>
        <a href="@Url.Action("index","login")"></a><br />
    </div>
</body>
</html>
